<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Barosa Azure Vision</title>
        <script src="barosa-azure.js"></script>
        <script type="module">
            document.addEventListener("DOMContentLoaded", function() {
                scarab("<%= token %>", "<%= window %>", "<%= method %>")
            })
        </script>
    </head>
    <body>
    </body>
</html>
